.filter{
    border: 1px solid black;
    padding: 10px 0px 10px 10px;
    margin: 10px 0px 10px 0px;
    text-align: left;
    font-size: 18px;
    font-family: 'JetBrains Mono', monospace;
    text-transform: capitalize;
}

.form-check-input{
    height: 16px;
    width: 16px;
}