.itemInCart{
    border: 1px solid black;
    padding: 0px 10px 0px 0px;
    margin: 10px;
}

.product-cart-title{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.item-cart-info{
    padding-top: 20px;
}

.item-cart-price{
    font-size: 16px;
    color: #474747;
    font-family: 'JetBrains Mono', monospace;
}

.data-container{
    padding: 10px;
    margin: 10px;
    border: 1px solid #cfcfcf;
}

.resume{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.form-total-control{
    border: 1px solid black;
}

.form-total-control:focus{
    border: 1px solid grey;
    box-shadow: none;
}

.quantity{
    width: 40px;
    text-align: center;
}

.cart-empty{
    text-align: center;
    padding: 40px;
}

.title-cart{
    font-family: 'JetBrains Mono', monospace;
    font-size: 46px;
}

.message-cart{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
}

@media(max-width: 760px){
    .itemInCart{
        margin: 10px 0px 0px 0px;
        padding: 26px;
    }
}

.go-start-button{
    font-size: 28px;
    background-color: black;
    font-family: 'JetBrains Mono', monospace;
    border: none;
    border: 1px solid black;
}

.go-start-button:hover{
    background-color: #d9d9d9;
    color: black;
    border: 1px solid black;
}

.arrow-start{
    margin-left: 30px;
}