.navbar-component{
    background-color: black;
}

.nav-link{
    color: white !important;
}

.logo{
    font-family: 'JetBrains Mono', monospace;
    font-size: 22px;
}

.cart{
    font-size: 20px;
}